<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="./views/fonts/fontawesome-free-6.3.0-web/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./views/css/style.css" />
    <title>Header</title>
  </head>
  <body>
    <div class="containers">
      <header>
        <section class="update-banner">
          <div class="col-70">
            <div class="box-banner">
              <button class="button">Laptop theo thương hiệu</button>
              <div class="small-update th">
                <a class="banner-text" href="">Acer</a>
                <a href="">Dell</a>
                <a href="">Hp</a>
                <a href="">Lenovo</a>
                <a href="">Asus</a>
              </div>
            </div>
            <div class="box-banner">
              <button class="button">Laptop cấu hình</button>
              <div class="small-update ch">
                <a href="">Inter core i3</a>
                <a href="">Inter core i5</a>
                <a href="">Inter core i7</a>
                <a href="">AMD Ryzen 3</a>
                <a href="">AMD Ryzen 5</a>
              </div>
            </div>
            <div class="box-banner">
              <button class="button">Laptop kích thước</button>
              <div class="small-update kt">
                <a href="">13-15 inch</a>
                <a href="">trên 15 inch</a>
                <a href="">Laptop 14 inch</a>
                <a href="">Laptop 15.6 vinch</a>
                <a href="">Laptop 16 inch</a>
              </div>
            </div>
            <div class="box-banner">
              <button class="button">Laptop theo theo nhu cầu</button>
              <div class="small-update nc">
                <a href="">Sinh Viên</a>
                <a href="">Đồ họa</a>
                <a href="">Văn phòng</a>
                <a href="">Mỏng nhẹ</a>
                <a href="">Gaming</a>
              </div>
            </div>
            <div class="box-banner">
              <button class="button">Laptop theo giá</button>
              <div class="small-update tg">
                <a href="">Dưới 10 triệu</a>
                <a href="">10-15 triệu</a>
                <a href="">15-20 triệu</a>
                <a href="">20-25 triệu</a>
                <a href="">25-30 triệu</a>
              </div>
            </div>
          </div>
          <div class="col-30">
            <div><img src="./views/imgs/unnamed.gif" alt="" /></div>
            <div><img src="./views/imgs/unnamed (1).gif" alt="" /></div>
          </div>
        </section>
        <section class="banner">
          <aside class="down">
            <p class="btn--scroll-to">
              <i class="fa-solid fa-angles-down"></i>
            </p>
          </aside>
          <aside class="img-banner banner">
            <img src="views/imgs/banner1.jpg" alt="" width="100%" />
          </aside>
          <aside class="img-banner banner">
            <img src="views/imgs/banner2.jpg" alt="" width="100%" />
          </aside>
          <aside class="img-banner banner">
            <img src="views/imgs/banner3.jpg" alt="" width="100%" />
          </aside>
          <aside class="img-banner banner">
            <img src="views/imgs/banner4.jpg" alt="" width="100%" />
          </aside>
          <p class="prev" onclick="slide(-1)">❮</p>
          <p class="next" onclick="slide(1)">❯</p>
        </section>
      </header>
    <div class="main">
      <div class="box-all">
        <div class="text-laptop">
          <legend>LAPTOP</legend>
          <a href="">Xem tất cả >>> </a>
        </div>
        <hr style="color: white; border: 1.5px solid white" />
        <div class="sp-laptop">
          <div class="sp-one">
            <img src="./views/imgs/asus1.jpg" alt="" />
            <div class="text-sp">
              <legend>ASUS</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>

          <div class="sp-one">
            <img src="./views/imgs/acer1.jpg" alt="" />
            <div class="text-sp">
              <legend>ACER</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>

          <div class="sp-one">
            <img src="./views/imgs/asus2.jpg" alt="" />
            <div class="text-sp">
              <legend>ASUS</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>

          <div class="sp-one">
            <img src="./views/imgs/acer2.jpg" alt="" />
            <div class="text-sp">
              <legend>ACER</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>

          <div class="sp-one">
            <img src="./views/imgs/acer3.jpg" alt="" />
            <div class="text-sp">
              <legend>ACER</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>
        </div>
      </div>

      <!-- BAISẢN  PHẨM NỖI BẬT  -->
      <div class="box-spnb">
        <div class="text-laptop">
          <legend>SẢN PHẨM NỖI BẬT</legend>
        </div>
        <hr style="color: white; border: 1.5px solid white" />
        <div class="sp-laptop">
          <div class="sp-one">
            <img src="./views/imgs/asus1.jpg" alt="" />
            <div class="text-sp">
              <legend>ASUS</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>

          <div class="sp-one">
            <img src="./views/imgs/acer1.jpg" alt="" />
            <div class="text-sp">
              <legend>ACER</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>

          <div class="sp-one">
            <img src="./views/imgs/asus2.jpg" alt="" />
            <div class="text-sp">
              <legend>ASUS</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>

          <div class="sp-one">
            <img src="./views/imgs/acer2.jpg" alt="" />
            <div class="text-sp">
              <legend>ACER</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>

          <div class="sp-one">
            <img src="./views/imgs/acer3.jpg" alt="" />
            <div class="text-sp">
              <legend>ACER</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>
      </div>

      <!-- BAI DÀNH CHO BẠN -->
      <div class="product-your">
        <div class="text-laptop">
          <legend>DÀNH CHO BẠN</legend>
        </div>
        <hr style="color: white; border: 1.5px solid white" />
        <p class="prev" onclick="slides(-1)">❮</p>
        <p class="next" onclick="slides(1)">❯</p>
        <div class="sp-laptops" id="sp-laptops">
          <div class="sp-one">
            <img src="./views/imgs/asus1.jpg" alt="" />
            <div class="text-sp">
              <legend>ASUS</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>

          <div class="sp-one">
            <img src="./views/imgs/acer1.jpg" alt="" />
            <div class="text-sp">
              <legend>ACER</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>

          <div class="sp-one">
            <img src="./views/imgs/asus2.jpg" alt="" />
            <div class="text-sp">
              <legend>ASUS</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>

          <div class="sp-one">
            <img src="./views/imgs/acer2.jpg" alt="" />
            <div class="text-sp">
              <legend>ACER</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>

          <div class="sp-one">
            <img src="./views/imgs/acer3.jpg" alt="" />
            <div class="text-sp">
              <legend>ACER</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>
        </div>

        <div class="sp-laptops" id="sp-laptops">
          <div class="sp-one">
            <img src="./views/imgs/asus2.jpg" alt="" />
            <div class="text-sp">
              <legend>ASUS</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>

          <div class="sp-one">
            <img src="./views/imgs/acer3.jpg" alt="" />
            <div class="text-sp">
              <legend>ACER</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>

          <div class="sp-one">
            <img src="./views/imgs/asus1.jpg" alt="" />
            <div class="text-sp">
              <legend>ASUS</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>

          <div class="sp-one">
            <img src="./views/imgs/acer3.jpg" alt="" />
            <div class="text-sp">
              <legend>ACER</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>

          <div class="sp-one">
            <img src="./views/imgs/acer1.jpg" alt="" />
            <div class="text-sp">
              <legend>ACER</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>
        </div>

        <div class="sp-laptops" id="sp-laptops">
          <div class="sp-one">
            <img src="./views/imgs/asus1.jpg" alt="" />
            <div class="text-sp">
              <legend>ASUS</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>

          <div class="sp-one">
            <img src="./views/imgs/acer1.jpg" alt="" />
            <div class="text-sp">
              <legend>ACER</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>

          <div class="sp-one">
            <img src="./views/imgs/asus2.jpg" alt="" />
            <div class="text-sp">
              <legend>ASUS</legend>
              <p>
                Laptop ASUS Vivobook X515EA-EJ3633W (i3-1115G4/RAM 8GB/512GB
                SSD/ Windows 11)
              </p>
              <span>9.490.000đ</span>
            </div>
          </div>
        </div>
      </div> 
      <!-- //BAITIN CÔNG NGHỆ -->

      <div class="technogory">
        <div class="text-tech">
          <legend>TIN CÔNG NGHỆ</legend>
        </div>
        <div class="info-tech">
          <div class="info">
            <img src="./views/imgs/tin1.jpg" alt="">
            <p>Review laptop ASUS ROG Strix G15: Giảm mạnh 4 triệu, nâng cấp RAM miễn phí!</p>
          </div>
          <div class="info">
            <img src="./views/imgs/tin2.jpg" alt="">
            <p>Top 5 lý do học sinh sinh viên nên mua laptop gaming Nitro 16 Phoenix, RTX 4050</p>
          </div>
          <div class="info">
            <img src="./views/imgs/tin3.jpg" alt="">
            <p>Review laptop ASUS Vivobook Go 15: chip AMD Ryzen 7000 mới nhất, giá dưới 14 triệu</p>
          </div>
          <div class="info">
            <img src="./views/imgs/tin4.jpg" alt="">
            <p>Top 3+ tựa game PC khủng ra mắt trong tháng 11 này</p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./views/js/main.js"></script>
</html>
